* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #ffffff;
  color: #9d9999;
}

.container {
  max-width: 480px;
  margin: 2rem auto;
  padding: 1rem;
}

h1 {
  font-size: 50px;
  margin-bottom: 2rem;
  color: #333;
}
/* Balance */
.balance-box {
  background: rgb(240, 237, 237);
  border-radius: 12px;
  padding: 1.2rem;
  margin-bottom: 1rem;
  border: 1px solid #080808;
}

.balance-box p {
  font-size: 13px;
  color: #090909;
}

.positive {
  color: #1D9E75;
  font-size: 28px;
  margin: 4px 0 10px;
}

.negative {
  color: #D85A30;
  font-size: 28px;
  margin: 4px 0 10px;
}

.balance-row {
  display: flex;
  gap: 2rem;
}

.income { color: #1D9E75; font-weight: 500; }
.expense { color: #D85A30; font-weight: 500; }

/* Chart */
.chart-box {
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #000000;
}

/* Form */
.form {
  background: white;
  border-radius: 12px;
  padding: 1.2rem;
  margin-bottom: 1rem;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form h3 {
  font-size: 15px;
}

.form input,
.form select {
  padding: 8px 12px;
  border: 1px solid #060606;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
}

.form button {
  padding: 9px;
  background: #1D9E75;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover {
  background: #178a64;
}

/* Transaction List */
.list {
  background: white;
  border-radius: 12px;
  padding: 1.2rem;
  border: 1px solid #000000;
}

.list h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

.transaction-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
}

.transaction-item.income span:nth-child(2) { color: #1D9E75; }
.transaction-item.expense span:nth-child(2) { color: #D85A30; }

.delete-btn {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 13px;
}

.delete-btn:hover {
  color: #D85A30;
}

.empty {
  color: #aaa;
  font-size: 14px;
  text-align: center;
  padding: 1rem;
}